* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif
}

.lead {
    text-align: right;
}


.instructions {
    background-color: #525252;
    padding: 5px;
    color: #ece7e7;
}

.loginForm {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

label {
    padding-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

/* ------------------------------ */
/*NAVBAR STYLING*/
/* ------------------------------ */
nav {
    width: 100%;
    background-color: #525252;
    height: 90px;
    margin: auto auto; 
    border-radius: 0px;
    text-align: center;
}

.row {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

 #userPhoto {
     height: 80px;
     width: auto;
     border-radius: 50%;
     float: left;
     margin-top: 5px;
 }

#navbarList {
 float: right;
 text-decoration: none;
}

 #navbarList li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 32px;
 }

 #navbarList li a {
    color: white;
    font-size: 1.35em;
    text-decoration: none;
 }

 #navbarList li a:hover,
 #navbarList li a:active {
    border-bottom: 2px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
 }

 #navbarList li a:selected {
    border-bottom: 2px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
 }


/* ------------------------------ */
/*STUDENT FORM STYLING*/
/* ------------------------------ */
#newStudentForm {
    width: 60%;
    margin: 0 auto;
    text-transform: uppercase;
}

.formLabel {
    font-size: 1.3em;    
}

#formHeader {
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

#newStudentForm input[type=text],
#newStudentForm input[type=number] {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px 0;
    width: 70%;
    display: block;
    font-size: 1em;
}






/* ------------------------------ */
/*CARD STYLING*/
/* ------------------------------ */
 .cardWrapper {
    max-height: 400px;
    width: 250px;
    display: inline-block;
    margin: 20px;
 }
