* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif
}

.lead {
    text-align: right;
}


.instructions {
    background-color: #363636;
    padding: 5px;
    color: #ece7e7;
}

.loginForm {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

.loginForm input {
    font-size: 1em;
}

input {
    margin: 5px;
}

label {
    padding-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

/* ------------------------------ */
/* NAVBAR STYLING */
/* ------------------------------ */
nav {
    width: 100%;
    background-color: #363636;
    height: 100px;
    margin: auto auto; 
    border-radius: 0px;
    text-align: center;
}

.row {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

 #userPhoto {
     height: 80px;
     width: auto;
     border-radius: 50%;
     float: left;
     margin-top: 10px;
     border: 2px solid #e67e22;
 }

#navbarList {
 float: right;
 text-decoration: none;
}

 #navbarList li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 32px;
 }

 #navbarList li a {
    color: white;
    font-size: 1.35em;
    text-decoration: none;
 }

 #navbarList li a:hover,
 #navbarList li a:active,
 #logoutBtn:hover {
    border-bottom: 2px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
 }

 #navbarList li a:selected {
    border-bottom: 2px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
 }

 #logoutBtn {
    background-color: #363636;
    border: none;
    color: white;
    font-size: 1.35em;
    text-transform: uppercase;
 }

/* ------------------------------ */
/* SEARCH STYLING */
/* ------------------------------ */

#searchDiv {
    text-align: center;
    margin: 30px 0 60px 0;
}

#searchInput {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px auto 0;
    width: 70%;
    display: block;
    font-size: 1em;
}


/* ------------------------------ */
/* FORM STYLING */
/* ------------------------------ */
.dataForm {
    width: 60%;
    margin: 0 auto;
    text-transform: uppercase;
}

.formLabel {
    font-size: 1.3em;    
}

#formHeader {
    font-weight: 200;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

#formHeader:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 70%;
    margin: 0 auto;
    margin-top: 30px   
}

.dataForm input[type=text],
.dataForm input[type=number],
.dataForm textarea {
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px 0;
    width: 70%;
    display: block;
    font-size: 1em;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 1.2em;
    background-color: #e67e22;
    border-radius: 3px;
    color: #fff;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

textarea {
    height: 100px;
}

input[type=date] {
    display: block;
    font-size: 1em;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px 0;
}

/* ------------------------------ */
/* CHART PAGE STYLING */
/* ------------------------------ */

#studentPageHeader {
    text-align: center;
    margin-top: 30px;
}


/* ------------------------------ */
/* CALENDAR STYLING */
/* ------------------------------ */

#calendarDiv {
    text-align: center;
    margin-top: 30px;
}

/* ------------------------------ */
/* FOOTER STYLING */
/* ------------------------------ */

footer {
    height: 150px;
    background-color: #363636;
    margin-top: 30px;
}


